* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.console {
  min-height: 100px;
  padding: 10px;
  border: 2px solid #a0a0a0;
  background: #505050;
  box-shadow: 0 0 10px 0 #000 inset;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: #fff;
  overflow-y: auto;
}
