* {
  box-sizing: border-box;
}

:root {
  --console-border-color: #a0a0a0;
  --console-background: #505050;
  --console-line-numbers-color: #858585;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.console {
  min-height: 100px;
  padding: 10px;
  border: 2px solid var(--console-border-color);
  background: var(--console-background);
  box-shadow: 0 0 10px 0 #000 inset;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: #fff;
  white-space: pre-wrap;
}

.console.with-horizontal-scroll {
  overflow-x: auto;
  white-space: nowrap;
}

.console .line-number {
  display: inline-block;
  margin-right: 0.5rem;
  min-width: 2rem;
  padding-right: 0.5rem;
  border-right: 1px solid var(--console-line-numbers-color);
  text-align: right;
  color: var(--console-line-numbers-color);
}
